@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?emjy23');
    src:url('../fonts/icomoon.eot?#iefixemjy23') format('embedded-opentype'),
        url('../fonts/icomoon.woff?emjy23') format('woff'),
        url('../fonts/icomoon.ttf?emjy23') format('truetype'),
        url('../fonts/icomoon.svg?emjy23#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
    content: "\e601";
}

.icon-soundcloud:before {
    content: "\eac4";
}

.icon-lastfm:before {
    content: "\e600";
}

