html {
    height: auto;
}

#soundcloudify {
    width: 640px;
    margin: 0;
    overflow: hidden;
}

#player {
	width: 200px;
    background-color: #555;
}

#player .artwork {
    position: relative;
    width: 200px;
    height: 200px;
}

#player .artwork > img{
    position: absolute;
    top: 0;
    left: 0;
	width: 200px;
	height: 200px;
}

#discovery {
	width: 440px;
}

    #discovery .md-tabs-content {
        overflow-y: scroll;
    }

    #discovery .demo-tab {
      height: 240px;
      padding: 15px;
    }

    #discovery md-tab {
        width: 146.66px;
    }

    #discovery md-tabs, #discovery md-tabs .md-header {
      border-bottom: 1px solid #D8D8D8;
    }

    #discovery md-select {
        margin-top: 0;
    }

#explorer {

}

    #explorer .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 8px;
    }

    #explorer .md-tile-content {
        padding: 8px 16px;
    }

progress {
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.125);
  border: 0;
  -webkit-appearance: none;
  cursor: pointer; }
  progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.125); }
  progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: #f52; }
  progress::-moz-progress-bar {
    background-color: #f52; }



.md-fab.md-fab-small {
    width: 40px;
    height: 40px;
}