html {
    height: auto;
}

.overlay {
  background-color: #12121A;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}

.md-tile-left > img {
  width: 45px;
  height: 45px;
}

.md-tile-content h3 {
  font-size: 14px;
  line-height: 28px;
}

md-item-content {
  padding: 5px 0;
}

md-tab md-icon {
  width: 15px;
  height: 15px;
}

md-tabs { border-bottom: 1px solid #f2f2f2; }
md-tabs.md-default-theme  md-tabs-ink-bar { background-color: rgb(255,87,34);}

.list-hover md-item:hover  { cursor: pointer;}
.list-hover md-item:hover md-item-content h3{ font-weight: bold; }


.tab-heading { border-bottom: 1px solid #f2f2f2; }
.back-link md-icon { width: 15px; height: 15px; margin-right: 7px; }
.chosen-category { text-align: right; margin: 0px; padding: 5px 0; color: rgb(255,87,34); border-bottom: 1px solid rgb(255,87,34);}


#soundcloudify {
    margin: 0;
    overflow: hidden;
}

#main {
  position: relative;
}

#player {
	width: 250px;
  padding: 20px 20px 0 20px;
  background-color: #1C1C1F;
}

#player .artwork {
    position: relative;
    width: 200px;
    height: 200px;
}

#player .artwork .show-on-hover {
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
}

#player .artwork:hover .show-on-hover {
  opacity: 1;
}

#player .artwork > img{
  position: absolute;
  top: 0;
  left: 0;
	width: 200px;
	height: 200px;
}

#player .track-title {
  padding: 15px 0px;
  color: #FBFBFC;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

  #player .track-title > h3 {
    font-size: 14px;
    white-space: nowrap;
  }

  #player .track-title > h4 {
    font-size: 12px;
    margin: 10px 0;
    font-weight: 100;
  }

#player .pretty-time {
  color: #ffffff;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

#player .pretty-time .duration {
  text-align: right;
  z-index: 1;
}

.player-controls {margin: 10px;}
.player-controls .player-control {color: #FBFBFC;}

.player-sub-controls {margin-bottom: 10px;}
.player-sub-controls .player-control {color: #fff;}
.player-sub-controls .player-control md-icon { width: 12px; height: 12px;}

md-sidenav.now-playing { width: 440px; min-width: 440px; max-width: 440px;}
md-icon.control-hide-nowplaying {width: 15px; height: 15px;}

.md-button.toggled { background-color: #ccc; color: orange; }

#discovery {
	width: 440px;
  position: relative;
}

    #discovery [role="tabpanel"] {
      height: 400px;
      padding: 15px;
      overflow-y: scroll;
    }

.media-list {

}
    
  .media-list .face {
    position: relative;
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
    overflow: hidden;
  }

  .media-list .face .overlay {
    border-radius: 30px;
    display: none;
  }

  .media-list .face > img {
    width: 100%;
  }

  .media-list .md-tile-content {
      padding: 8px 16px;
  }
  .media-list .md-tile-left {
    position: relative;
  }

  .media-list .md-tile-left:hover {
    cursor: pointer;
  }

  .media-list .md-tile-left .icon, .media-list .md-tile-left .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    display: none;
    color: #fff;
  }

  .media-list md-item:hover .fa-play{
    display: block;
  }

  .media-list md-item:hover .overlay ,.media-list .playing .overlay {
    display: block;
  }

  .media-list .playing h3, .media-list .pause h3 {
    font-weight: bold;
  }
  
  .media-list .playing .md-tile-left .icon-playing{
    display: block;
  }

  .media-list .playing:hover .md-tile-left .icon-playing {
    display: none;
  }

  .media-list md-item.playing:hover .md-tile-left .fa-play {
    display: none;
  }

  .media-list md-item.playing:hover .md-tile-left .fa-pause {
    display: block;
  }



.icon {}
  .icon.icon-playing {
    background: url('../images/equalizer.white.gif') center no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
  }

progress {
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #fbfbfb;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer; }
  progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.125); }
  progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: #f52; }
  progress::-moz-progress-bar {
    background-color: #f52; }



.md-fab.md-fab-small {
    width: 40px;
    height: 40px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}