<div id="discovery" ng-controller="DiscoveryController as vm">
    <md-tabs class="main-nav md-primary" md-selected="vm.selectedIndex">
        <md-tab id="tab4" aria-controls="tab4-content">
            <md-icon md-font-icon="icon ion-ios-musical-notes"></md-icon>
            <span>now playing</span>
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            <md-icon md-font-icon="icon ion-search"></md-icon>
            <span>search</span>
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
            <md-icon md-font-icon="icon ion-film-marker"></md-icon>
            <span>playlist</span>
        </md-tab>
        <md-tab id="tab1" aria-controls="tab1-content">
            <md-icon md-font-icon="icon ion-stats-bars"></md-icon>
            <span>charts</span>
        </md-tab>
    </md-tabs>
    <div class="tabpanel-container">
        <div role="tabpanel">
            <div id="tab-content" ui-view></div>
        </div>
    </div>

    <ng-switch on="vm.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
            id="tab1-content"
            aria-labelledby="tab1"
            ng-switch-when="0">
            
            <now-playing></now-playing>
        </div>
        <div role="tabpanel"
            id="tab2-content"
            aria-labelledby="tab2"
            ng-switch-when="1" >

            <search id="search"></search>
        </div>
        <div role="tabpanel"
            id="tab3-content"
            aria-labelledby="tab3"
            ng-switch-when="2">

            <playlist></playlist>
        </div>
        <div role="tabpanel"
            id="tab4-content"
            ng-switch-when="3">
            <explore></explore>
        </div>
    </ng-switch>
    <playlist-menu id="singleton-playlist-menu"></playlist-menu>
</div>