<md-content class="tab-content md-padding" playing-track-aware="track">
    <div layout="row" class="tab-heading">
        <div flex>
            <md-button class="back-link" ng-click="playlistViewCtrl.backToPlaylist()">
                <md-icon md-font-icon="icon ion-chevron-left"></md-icon>
                {{'button_back' | translate}}
            </md-button>
        </div>
        <div flex="66" class="chosen-category">
            <h3>{{playlistViewCtrl.playlist.name}}</h3>
        </div>
    </div>
    <track-list tracks="playlistViewCtrl.playlistTracks" on-track-click="playnow" list-context="{{playlistViewCtrl.listcontext}}" list-index="{{playlistViewCtrl.playlistIndex}}"></track-list>
</md-content>