<!doctype html>
<html ng-app="soundCloudify" ng-csp>
    <head>
        <meta charset="utf-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body>
        <div ng-controller="MainController as ctrl">
            <ul>
                <li ng-repeat="track in ctrl.tracks">
                    {{track.title}}
                    <button ng-click="ctrl.playTrack(track)">Play</button>
                </li>
            </ul>
        </div>

        <div plangular="https://soundcloud.com/dave-luxe/riff-raff-lil-mama-im-sorry"></div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/popup.js -->
        <script src="scripts/sdk-2.0.0.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/ng-plangular.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/popup.js"></script>
        <!-- endbuild -->
    </body>
</html>
