<md-content class="tab-content md-padding" playing-track-aware="track">
    <div layout="row" class="tab-heading">
        <div flex>
            <md-button class="back-link" ng-click="viewCtrl.backToTopChart()">
                <md-icon md-font-icon="icon ion-chevron-left"></md-icon>
                {{'button_back' | translate}}
            </md-button>
        </div>
        <div flex="33" class="chosen-category">
            <h3>{{chartsCtrl.sanitizeCategory(viewCtrl.category)}}</h3>
        </div>
    </div>
    <track-list class="list-full" tracks="viewCtrl.tracks" on-track-click="playnow" list-context="charts {{viewCtrl.category}}"></track-list>
    <loading ng-show="viewCtrl.paginator.lastPromise.$$state.status === 0"></loading>
    <section layout="row" layout-align="center center" ng-hide="viewCtrl.paginator.lastPromise.$$state.status === 0">
        <md-button ng-show="viewCtrl.paginator.hasMoreRow" class="md-primary" ng-click="viewCtrl.paginator.moreRows()">{{'button_loadMore' | translate}}</md-button>
    </section>
</md-content>
