<md-content class="tab-content md-padding" playing-track-aware="track">
    <div layout="row" class="tab-heading">
        <div flex>
            <md-button class="back-link" ng-click="viewCtrl.backToTopChart()">
                <md-icon md-svg-src="fonts/open-iconic/svg/arrow-left.svg"></md-icon>
                Back
            </md-button>
        </div>
        <div flex="33">
            <h3 class="chosen-category">{{chartsCtrl.sanitizeCategory(viewCtrl.category)}}</h3>
        </div>
    </div>
    <track-list class="list-full" tracks="viewCtrl.tracks" on-track-click="playnow" list-context="charts"></track-list>
    <loading ng-show="viewCtrl.paginator.lastPromise.$$state.status === 0"></loading>
    <section layout="row" layout-align="center center" ng-hide="viewCtrl.paginator.lastPromise.$$state.status === 0">
        <md-button ng-show="viewCtrl.paginator.hasMoreRow" class="md-primary" ng-click="viewCtrl.paginator.moreRows()">Load more</md-button>
    </section>
</md-content>