<md-dialog aria-label="Donation dialog">
     <md-content>
          <h2>Hi there, UpNext need your help!</h2>
          <p>
               This extension is created by <b><a class="twitter-link" href="https://twitter.com/ptgamr">@ptgamr</a></b> with love and free for everyone.
               <br/>While it is free, I have to maintain a small server (at Amazon) to store playlists and favorite tracks data. It works until recently... server got crashed a lot as it can not handle the load from ~40k users.</a>
          </p>
          <p>
               <b>UpNext really needs your help to make the server more stable.</b>
          </p>
     </md-content>
     <div class="md-actions">
          <md-button ng-click="close()">
               Close
          </md-button>
          <md-button class="md-primary" ng-click="donate()">
               <i class="fa fa-heart"></i> Donate
          </md-button>
     </div>
</md-dialog>
