<md-content class="list-hover" ng-hide="chosenCategory">
    <md-list>
        <md-item ng-repeat="cat in categories">
            <md-item-content layout="row" layout-align="start start" ng-click="selectCategory(cat)">
                <div class="md-tile-left">
                    <img ng-src="images/artwork-bar.jpg" alt="{{cat}}">
                </div>
                <div class="md-tile-content">
                    <h3>{{sanitizeCategory(cat)}}</h3>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>
<md-content ng-show="chosenCategory">
    <div layout="row" class="tab-heading">
        <div flex>
            <md-button class="back-link" ng-click="backToTopChart()">
                <md-icon md-svg-src="fonts/open-iconic/svg/arrow-left.svg"></md-icon>
                Back
            </md-button>
        </div>
        <div flex>
            <h3 class="chosen-category">{{sanitizeCategory(chosenCategory)}}</h3>
        </div>
    </div>
    <loading ng-if="isLoading"></loading>
    <md-list>
        <md-item ng-repeat="track in tracks" ng-class="{'playing': $index === player.state.currentIndex && player.state.playing, 'pause': $index === player.state.currentIndex && !player.state.playing}">
            <md-item-content layout="row" layout-align="start start">
                <div class="md-tile-left" ng-click="addTrack(track)">
                    <div class="face">
                        <img ng-src="{{track.artwork_url || 'images/artwork-bar.jpg'}}" alt="{{track.title}}">
                        <div class="overlay"></div>
                    </div>
                    <span class="icon icon-playing"></span>
                    <span class="fa fa-play fa-lg"></span>
                    <span class="fa fa-pause fa-lg"></span>
                </div>
                <div class="md-tile-content">
                    <h3 ng-click="addTrack(track)">{{track.title}}</h3>
                    <h4>{{track.user.username}}</h4>
                    <p>
                        {{track.playback_count}} | {{track.likes_count}}
                    </p>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</md-content>