<md-content class="list-hover tab-content md-padding" ng-hide="chosenCategory">
    <md-list>
        <md-item ng-repeat="cat in categories">
            <md-item-content layout="row" layout-align="start start" ng-click="selectCategory(cat)">
                <div class="md-tile-content">
                    <h3>{{sanitizeCategory(cat)}}</h3>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>
<md-content class="tab-content md-padding" ng-show="chosenCategory">
    <div layout="row" class="tab-heading">
        <div flex>
            <md-button class="back-link" ng-click="backToTopChart()">
                <md-icon md-svg-src="fonts/open-iconic/svg/arrow-left.svg"></md-icon>
                Back
            </md-button>
        </div>
        <div flex="33">
            <h3 class="chosen-category">{{sanitizeCategory(chosenCategory)}}</h3>
        </div>
    </div>
    <loading ng-if="isLoading"></loading>
    <track-list tracks="tracks" on-track-click="playnow"></track-list>
</md-content>
<md-toolbar class="bottom-toolbar" ng-show="chosenCategory">
    <div class="md-toolbar-tools">
        <span></span>
        <span flex></span>
        <span>
            <md-button><md-icon md-font-icon="icon ion-android-archive"></md-icon></md-button>
            <md-button><md-icon md-font-icon="icon ion-android-delete"></md-icon></md-button>
        </span>
    </div>
</md-toolbar>