<md-dialog class="import-modal" aria-label="List dialog">
    <md-content>
        <md-input-container ng-class="{'md-input-invalid': invalidUrl}">
            <label>YouTube or SoundCloud Playlist URL</label>
            <input ng-model="playlistUrl" type="text" placeholder="Enter YouTube playlist URL">
            <div ng-messages="invalidUrl">
                <div ng-show="invalidUrl" ng-message="invalidUrl">Invalid Url</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Playlist Name</label>
            <input ng-model="newPlaylistName" type="text" placeholder="Enter playlist name">
        </md-input-container>
        <div class="text-error" ng-show="playlistNotFound">Can not load playlist, try a different URL.</div>
    </md-content>
    <div class="md-actions">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="14" ng-show="loading"></md-progress-circular>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-disabled="!loadedTracks || !newPlaylistName" class="md-primary" ng-click="createPlaylist()"> 
            Import Playlist
        </md-button>
    </div>
</md-dialog>
