<md-dialog aria-label="Configuration dialog">
     <md-content>
          <h2>About Soundcloudify</h2>
          <p><strong>Version: 1.2</strong></p>
          <p>
               This extension is created by <b>Anh Trinh (<a class="twitter-link" href="https://twitter.com/ptgamr">@ptgamr</a>)</b> with love and free for everyone.
               <br/>I am thankful for my wife who loves - and - doesn't mind sleeping without me.
               <br/>Tweet here if you find any bug or have some cool idea: <a class="twitter-link" href="https://twitter.com/soundcloudify"><md-icon md-font-icon="icon ion-social-twitter"></md-icon></a>
          </p>
          <p>
               <i>All music are credited to <b>SoundCloud</b> and <b>Youtube</b>.</i>
          </p>
     </md-content>
     <div class="md-actions">
          <md-button ng-click="close()">
               Close
          </md-button>
     </div>
</md-dialog>
