<md-dialog aria-label="Manual scrobble dialog">
     <md-content>
		<h2>Help last.fm regconize the track</h2>
		<span class="md-warn" ng-bind="error"></span>
		<md-input-container md-no-float>
		    <input ng-model="manualScrobble.artist" type="text" placeholder="Enter artist name" />
		</md-input-container>
		<md-input-container md-no-float>
		    <input ng-model="manualScrobble.track" type="text" placeholder="Enter track name">
		</md-input-container>
     </md-content>
     <div class="md-actions">
          <md-button ng-click="close()">close</md-button>
          <md-button class="md-primary" ng-click="sendManualScrobble()" ng-show="!scrobbling">scrobble</md-button>
          <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="14" ng-show="scrobbling"></md-progress-circular>
     </div>
</md-dialog>