<md-content>
    <md-list>
        <md-item ng-repeat="track in player.tracks track by $index" ng-class="{'playing': $index === player.state.currentIndex && player.state.playing, 'pause': $index === player.state.currentIndex && !player.state.playing}">
            <md-item-content layout="row" layout-align="start start">
                <div class="md-tile-left" ng-click="play($index)">
                    <div class="face">
                        <img ng-src="{{track.artwork_url || 'images/artwork-bar.jpg'}}" alt="{{track.title}}">
                        <div class="overlay"></div>
                    </div>
                    <span class="icon icon-playing"></span>
                    <span class="fa fa-play fa-lg"></span>
                    <span class="fa fa-pause fa-lg"></span>
                </div>
                <div class="md-tile-content">
                    <h3 ng-click="play($index)">{{track.title}}</h3>
                    <h4>{{track.user.username}}</h4>
                    <p>
                        {{track.playback_count}} | {{track.likes_count}}
                    </p>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>