<section>
    <div class="artwork">
        <img ng-src="{{player.state.currentTrack.artworkUrl | scArtwork}}" alt="{{player.state.currentTrack.title}}">
        <progress value="{{ player.state.currentTime / player.state.duration || 0 }}"
            ng-click="doSeek($event)">
            {{ player.state.currentTime / player.state.duration }}
        </progress>
        <div class="show-on-hover">
            <div class="overlay">
            </div>
            <a class="view-original-link" href="{{player.state.currentTrack.originalUrl}}" title="View Original">
                <i ng-if="player.state.currentTrack.origin === 'sc'" class="icon-soundcloud"></i>
                <i ng-if="player.state.currentTrack.origin === 'yt'" class="icon-youtube"></i>
            </a>
        </div>
    </div>
    <div class="pretty-time" layout="row" layout-wrap>
        <div flex="50" class="current-time">{{ player.state.currentTime | prettyTime }}</div>
        <div flex="50" class="duration">{{ player.state.duration | prettyTime }}</div>
    </div>
    <div class="padding">
        <div class="track-title">
            <h3 track-title="{{player.state.currentTrack.title}}">{{ player.state.currentTrack.title || '&nbsp;' }}</h3>
            <h4>{{player.state.currentTrack.user.username}}</h4>
        </div>
        <section layout="row" layout-margin layout-align="center center" class="player-controls">
            <md-button aria-label="Previous Song" flex ng-click="player.previous()">
                <md-icon md-font-icon="icon ion-ios-skipbackward" class="player-control control-back" alt="Previous"></md-icon>
            </md-button>
            <md-button aria-label="Play Pause" flex ng-click="player.playPause()">
                <md-icon md-font-icon="icon ion-ios-pause" class="player-control control-pause" alt="Pause" ng-if="player.state.playing"></md-icon>
                <md-icon md-font-icon="icon ion-ios-play" class="player-control control-play" alt="Play" ng-if="!player.state.playing"></md-icon>
            </md-button>
            <md-button aria-label="Next Song" flex ng-click="player.next()">
                <md-icon md-font-icon="icon ion-ios-skipforward" class="player-control control-next" alt="Next"></md-icon>
            </md-button>
        </section>
        <section layout="row" class="volume-controls">
            <md-icon md-font-icon="icon ion-android-volume-down" alt="Volume"></md-icon>
            <md-slider flex min="0" max="100" ng-model="volume" aria-label="volume" id="volume-slider" class="md-primary"></md-slider>
            <md-icon md-font-icon="icon ion-android-volume-up" alt="Volume"></md-icon>
        </section>
        <section layout="row" layout-margin layout-align="center center" class="player-sub-controls">
            <md-button ng-class="{'md-primary': player.state.repeat !== 0}" aria-label="Toggle Repeat" class="player-control control-repeat" ng-click="player.toggleRepeat()" title="shuffle">
                <i class="icon ion-arrow-swap" title="{{player.state.repeat === 2 ? 'repeat one' : 'repeat all'}}"></i>
                <span class="repeat-one" ng-if="player.state.repeat === 2">1</span>
            </md-button>
            <md-button ng-class="{'md-primary': player.state.shuffle}" aria-label="Toggle Shuffle" class="player-control control-shuffle" ng-click="player.toggleShuffle()" title="shuffle">
                <i class="icon ion-shuffle"></i>
            </md-button>
            <md-button ng-class="{'md-primary': player.state.scrobbleEnabled, 'md-warn': player.state.scrobbleEnabled && player.state.lastFmInvalid === true}" 
                        class="player-control control-last-fm"
                        aria-label="Last.fm scrobbling"
                        title="{{getScrobbleTitle()}}"
                        ng-click="player.toggleScrobble()"
                        right-click="openManualScrobble($event)">
                <i class="icon-lastfm"></i>
                <span class="icon ion-help" ng-if="player.state.scrobbleEnabled && player.state.lastFmInvalid === true"></span>
                <span class="icon ion-checkmark-circled" ng-if="player.state.scrobbled"></span>
            </md-button>
        </section>
    </div>
</section>