<div>
    <div class="artwork">
        <img ng-src="{{(player.state.currentTrack.artwork_url | scArtwork) || 'images/artwork-bar.jpg'}}" alt="player.state.currentTrack.title">
        <div class="show-on-hover fadeIn">
            <div class="track-title">
                {{ player.state.currentTrack.title || '&nbsp;' }}
            </div>
            <div class="overlay"></div>
            <div class="pretty-time" layout="row" layout-wrap>
                <div flex="50" class="current-time">{{ player.state.currentTime | prettyTime }}</div>
                <div flex="50" class="duration">{{ player.state.duration | prettyTime }}</div>
            </div>
        </div>
    </div>
    <progress value="{{ player.state.currentTime / player.state.duration || 0 }}"
        ng-click="player.seek($event)">
        {{ player.state.currentTime / player.state.duration }}
    </progress>
    <div class="player-controls">
        <section layout="row" layout-margin layout-align="center center">
            <md-button flex ng-click="player.previous()">
                <md-icon md-font-icon="fa fa-step-backward fa-2x" ng-style="{color: '#fff'}"></md-icon>
            </md-button>
            <md-button flex ng-click="player.playPause()">
                <md-icon ng-if="!player.state.playing" md-font-icon="fa fa-play fa-2x" ng-style="{color: '#fff'}"></md-icon>
                <md-icon ng-if="player.state.playing" md-font-icon="fa fa-pause fa-2x" ng-style="{color: '#fff'}"></md-icon>
            </md-button>
            <md-button flex ng-click="player.next()">
                <md-icon md-font-icon="fa fa-step-forward fa-2x" ng-style="{color: '#fff'}"></md-icon>
            </md-button>
        </section>
    </div>
</div>