<md-content class="md-padding tab-content"  playing-track-aware>
	<md-input-container>
        <label>Search anything</label>
		<input ng-model="search.term" type="text" placeholder="Enter a name ..." ng-keypress="onKeyPress($event)">
	</md-input-container>
	<section layout="row" layout-align="left center">
		<md-checkbox class="md-primary" ng-model="toggle.soundcloud" aria-label="Toggle Soundcloud">
			SoundCloud
		</md-checkbox>
		<md-checkbox class="md-primary" ng-model="toggle.youtube" aria-label="Toggle Youtbe">
			Youtube
		</md-checkbox>
	</section>


    <track-list  tracks="mixedResults" on-track-click="playnow" show-remove-button="false" origin-toggle="toggle"></track-list>

    <loading ng-show="soundcloudPaginator.lastPromise.$$state.status === 0 || youtubePaginator.lastPromise.$$state.status === 0"></loading>
    <section layout="row" layout-align="center center" ng-hide="soundcloudPaginator.lastPromise.$$state.status === 0 || youtubePaginator.lastPromise.$$state.status === 0">
    	<md-button ng-show="hasMoreRow()" class="md-primary" ng-click="getMore(false)">Load more</md-button>
    </section>
</md-content>