<md-content class="md-padding tab-content">
	<md-input-container>
        <label>Search SoundCloud</label>
		<input ng-model="searchTerm" type="text" placeholder="Enter a name ..." ng-keypress="onKeyPress($event)">
	</md-input-container>

	<md-input-container>
        <label>Search Youtube</label>
		<input ng-model="searchTermYoutube" type="text" placeholder="Enter a name ..." ng-keypress="onKeyPressYoutube($event)">
	</md-input-container>
	<!-- <md-button class="md-raised md-primary search-btn" ng-click="doSearch()">Search</md-button> -->
	<loading ng-if="isLoading"></loading>
    <track-list ng-hide="isLoading" tracks="results" on-track-click="playnow"></track-list>
</md-content>