<md-content class="md-padding tab-content " playing-track-aware="track">
    <md-autocomplete
        md-selected-item="ctrl.selectedItem"
        md-search-text="ctrl.search.term"
        md-search-text-change="ctrl.search.term"
        md-items="item in ctrl.suggest(ctrl.search.term)"
        md-item-text="item.display"
        md-floating-label="Search anything"
        md-selected-item-change="ctrl.getMore(true)">
        
        <span md-highlight-text="ctrl.search.term">{{item.display}}</span>
      </md-autocomplete>

	<section layout="row" layout-align="left center">
		<md-checkbox class="md-primary" ng-model="ctrl.toggle.soundcloud" aria-label="Toggle Soundcloud">
			SoundCloud
		</md-checkbox>
		<md-checkbox class="md-primary" ng-model="ctrl.toggle.youtube" aria-label="Toggle Youtbe">
			Youtube
		</md-checkbox>
	</section>

    <section ng-show="!ctrl.filteredResults.length && ctrl.soundcloudPaginator.lastPromise.$$state.status === 1 && ctrl.youtubePaginator.lastPromise.$$state.status === 1">No results for <strong>{{ctrl.recentSearch[0]}}</strong></section>

    <section class="recent-search" ng-show="ctrl.recentSearch.length && !ctrl.filteredResults.length && !(ctrl.soundcloudPaginator.lastPromise.$$state.status === 0 || ctrl.youtubePaginator.lastPromise.$$state.status === 0)">
        <h3>Recent search:</h3>
        <p ng-repeat="term in ctrl.recentSearch">
            <a ng-click="ctrl.recentSearchClick(term)">{{term}}</a>
        </p>
    </section>
    <track-list class="list-full" ng-show="ctrl.filteredResults.length" tracks="ctrl.filteredResults" on-track-click="playnow" origin-toggle="ctrl.toggle" list-context="search"></track-list>
    <loading ng-show="ctrl.soundcloudPaginator.lastPromise.$$state.status === 0 || ctrl.youtubePaginator.lastPromise.$$state.status === 0"></loading>
    <section layout="row" layout-align="center center" ng-hide="ctrl.soundcloudPaginator.lastPromise.$$state.status === 0 || ctrl.youtubePaginator.lastPromise.$$state.status === 0">
    	<md-button ng-show="ctrl.hasMoreRow()" class="md-primary" ng-click="ctrl.getMore(false)">Load more</md-button>
    </section>
</md-content>
<md-toolbar class="bottom-toolbar">
    <div class="md-toolbar-tools">
        <span flex></span>
        <span flex></span>
        <span>
            <md-button ng-click="saveStream($event)"><md-icon md-font-icon="icon ion-android-archive"></md-icon></md-button>
            <md-button ng-click="clearStream($event)"><md-icon md-font-icon="icon ion-android-delete"></md-icon></md-button>
        </span>
    </div>
</md-toolbar>