<div>
    <track-list-react tracks="tracks | filter:trackFilter"
                on-track-click="handleTrackClick"
                on-play-next="playNext"
                component-did-update="componentDidUpdate"
                on-add-track-to-playlist="showPlaylistMenu"
                on-remove-track="handleRemoveTrack"
                on-star-track="starTrack"
                list-context="listContext">
    </track-list-react>
</div>

<!-- <md-list class="media-list">
    <md-item ng-repeat="track in tracks | filter:originFilter track by $index" class="{{getCssClass(track)}}">
        <md-item-content layout="row" layout-align="start start">
            <a class="original-link" ng-href="{{track.originalUrl || '#'}}" title="View Original">
                <md-icon md-font-icon="{{fontIcon[track.origin]}}" class="brand-icon"></md-icon>
            </a>
            <div class="md-tile-left" ng-click="handleTrackClick(track)">
                <div class="face">
                    <img  ng-src="{{track.artworkUrl}}" alt="{{track.title}}">
                    <div class="overlay"></div>
                </div>
                <span class="dynamic-icon icon icon-playing"></span>
                <span class="dynamic-icon fa fa-play fa-lg"></span>
                <span class="dynamic-icon fa fa-pause fa-lg"></span>
            </div>
            <div class="md-tile-content">
                <h3 ng-click="handleTrackClick(track)">{{$index + 1}}. {{track.title}}</h3>
                <h4>{{track.user}}</h4>
                <p class="statistic">
                    <md-icon md-font-icon="icon ion-headphone"></md-icon><span>{{track.viewCount | number}}</span>
                    <md-icon md-font-icon="icon ion-heart"></md-icon><span>{{track.likeCount | number}}</span>
                </p>
            </div>
            <div class="md-tile-hover" layout="row" layout-margin layout-align="center center" >
                <md-button title="Like" aria-label="Like">
                    <md-icon md-font-icon="icon ion-android-star" alt="Love It"></md-icon>
                </md-button>
                <md-button playlist-choser track-to-add="track" title="Add to playlist" aria-label="Add to playlist">
                    <md-icon md-font-icon="icon ion-android-add" alt="Add To"></md-icon>
                </md-button>
                <md-button title="Remove from stream" aria-label="Remove" ng-click="player.remove($index)">
                    <md-icon md-font-icon="icon ion-android-delete" alt="Remove"></md-icon>
                </md-button>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
 -->